/* =====================================
        BEJJA LOAN CREDIT
        RESPONSIVE DESIGN
===================================== */


/* Large Tablets */

@media(max-width:992px){


.hero h1{

    font-size:45px;

}


.hero-icon{

    font-size:180px;

}



.navbar-nav{

    background:#064b86;

    padding:20px;

    border-radius:15px;

    margin-top:15px;

}



.nav-link{

    margin-left:0;

    padding:12px;

}



}



/* Tablets */

@media(max-width:768px){


body{

    overflow-x:hidden;

}



/* HERO */


.hero{

    text-align:center;

    padding-top:120px;

}



.hero .row{

    min-height:auto;

}



.hero h1{

    font-size:38px;

}



.hero p{

    font-size:17px;

}



.hero-icon{

    margin-top:50px;

    font-size:130px;

}





/* BUTTONS */


.hero .btn{

    display:block;

    width:85%;

    margin:15px auto;

}





/* LOAN CARDS */


.loan-card{

    margin-bottom:20px;

}




/* WHY SECTION */


.why{

    padding:50px 20px;

}



.why .col-md-3{

    margin-bottom:35px;

}



}





/* Mobile Phones */

@media(max-width:480px){



.navbar-brand{

    font-size:17px;

}



.hero h1{

    font-size:32px;

}



.hero p{

    font-size:15px;

}



.hero-icon{

    font-size:100px;

}



.loan-card{

    padding:25px 15px;

}



.loan-card i{

    font-size:35px;

}



footer{

    text-align:center;

}



}
